[
 {:xt/id :en
  :id "en"
  :xt/spec :swlkup.model.languages/languages
  :name "English"
  :flag_url "https://upload.wikimedia.org/wikipedia/commons/8/83/Flag_of_the_United_Kingdom_%283-5%29.svg"
  :idx 0}
 {:xt/id :de
  :id "de"
  :xt/spec :swlkup.model.languages/languages
  :name "Deutsch"
  :flag_url "https://upload.wikimedia.org/wikipedia/commons/b/ba/Flag_of_Germany.svg"
  :idx 1}
 {:xt/id :fr
  :id "fr"
  :xt/spec :swlkup.model.languages/languages
  :name "Français"
  :flag_url "https://upload.wikimedia.org/wikipedia/commons/c/c3/Flag_of_France.svg"
  :idx 2}
 {:xt/id :it
  :id "it"
  :xt/spec :swlkup.model.languages/languages
  :name "Italiano"
  :flag_url "https://upload.wikimedia.org/wikipedia/commons/0/03/Flag_of_Italy.svg"
  :idx 3}
 {:xt/id :es
  :id "es"
  :xt/spec :swlkup.model.languages/languages
  :name "Español"
  :flag_url "https://upload.wikimedia.org/wikipedia/commons/9/9a/Flag_of_Spain.svg"
  :idx 4}
 {:xt/id :ar
  :id "ar"
  :xt/spec :swlkup.model.languages/languages
  :name "العربية"
  :flag_url "https://upload.wikimedia.org/wikipedia/commons/0/0e/Flag_of_the_Arabic_language.svg"
  :idx 5}
 {:xt/id :fa
  :id "fa"
  :xt/spec :swlkup.model.languages/languages
  :name "فارسی"
  :flag_url "https://upload.wikimedia.org/wikipedia/commons/a/a2/Farsi.svg"
  :idx 6}

 {:xt/id "counseling"
  :id "counseling"
  :xt/spec :swlkup.model.offers/offers
  :target :individual
  :desc "Counselling/Coaching for individuals"}
 {:xt/id "crisis_intervention"
  :id "crisis_intervention"
  :xt/spec :swlkup.model.offers/offers
  :target :individual
  :desc "Crisis intervention for individuals"}
 {:xt/id "briefing"
  :id "briefing"
  :xt/spec :swlkup.model.offers/offers
  :target :group
  :desc "Psychological briefing & debriefing of crews"}
 {:xt/id "moderation"
  :id "moderation"
  :xt/spec :swlkup.model.offers/offers
  :target :group
  :desc "Moderation"}
 {:xt/id "mediation"
  :id "mediation"
  :xt/spec :swlkup.model.offers/offers
  :target :group
  :desc "Mediation"}
 {:xt/id "supervision"
  :id "supervision"
  :xt/spec :swlkup.model.offers/offers
  :target :group
  :desc "Supervision"}
 {:xt/id "workshops"
  :id "workshops"
  :xt/spec :swlkup.model.offers/offers
  :target :group
  :desc "Workshops"}

 {:xt/id "lifeline"
  :xt/spec :swlkup.model.ngo/doc
  :name "Mission Lifeline"}
 {:xt/id "seawatch"
  :xt/spec :swlkup.model.ngo/doc
  :name "Sea-Watch"}
 {:xt/id "example_ngo"
  :xt/spec :swlkup.model.ngo/doc
  :name "Example NGO"
  :swlkup.model.login/login:ids ["login_crewing_example-ngo"]}

 {:xt/id :T0p53cret
  :xt/spec :swlkup.model.token/doc
  :token "T0p53cret"
  :ngo "seawatch"}
 {:xt/id :R4nd0m
  :xt/spec :swlkup.model.token/doc
  :token "R4nd0m"
  :ngo "lifeline"}

 {:xt/id "MaxMüller"
  :xt/spec :swlkup.model.supervisor/doc
  :swlkup.model.login/login:ids "login_max_mueller"
  :name_full "Max Müller"
  :photo "https://raw.githubusercontent.com/wiki/community-garden/community-garden.github.io/images/team_avatar_joe.png"
  :languages [:de :en]
  :offers #{"counselling" "crisis_intervention"}
  :contacts {:phone "0351 1234 5678"
             :email "praxis@max.mueller.de"
             :website "https://max.mueller.de"}
  :location {:zip "01022"
             :address_string "Leipziger Str. 13, 01022 Dresden"
             :lat 23.42
             :lon 52.34
             :radius_kilometer 10}
  :text_specialization "PTSD"
  :text "Irgend etwas über mich ;)"
  :ngos :any}
 {:xt/id "MariaMusterfrau"
  :xt/spec :swlkup.model.supervisor/doc
  :swlkup.model.login/login:ids "maria@mm.de"
  :name_full "Maria Musterfrau"
  :photo "https://raw.githubusercontent.com/wiki/community-garden/community-garden.github.io/images/team_avatar_stephanie.png"
  :languages [:it :es :fr :ar]
  :offers #{"counseling" "crisis_intervention"
            "mediation" "moderation" "supervision" "workshops"}
  :contacts {:phone "+49 123 4567 8901"
             :email "maria@mm.de"
             :website "https://mm.de"}
  :location {:zip "01010"
             :address_string "Hauptstr. 7, 01010 Dresden"
             :lon 42.23
             :lat 13.37
             :radius_kilometer 10}
  :text_specialization "PTSD"
  :text "Here I should write something about myself, my specialization and my motivation for supporting SAR NGOs…"
  :ngos #{"seawatch" "sosmediterranee"}}

 {:xt/id "login_max_mueller"
  :xt/spec :swlkup.model.login/doc
  :mail "praxis@max.mueller.de"
  :password-hash "100$12$argon2id$v13$hq47jacLIYoiNMD9kdyy+w$ISDi+bSSTmsgqu648LQLv7ySU+lG2VGKRfa06HNfjzk$$$"}

 {:xt/id "login_crewing_example-ngo"
  :xt/spec :swlkup.model.login/doc
  :mail "crewing@example-ngo.com"
  :password-hash "100$12$argon2id$v13$lWXab18B+9b79jAk7noAwg$01ak9vbuyxhuKDvBnWV8wuwxIJ5GR6zjz/lJhdw1s+I$$$" #_"Vr(+cFtUG=rsj2:/]*uR" }
]
