[
 {:xt/id :en
  :id "en"
  :xt/spec :swlkup.model.languages/languages
  :name "English"
  :flag_url "https://upload.wikimedia.org/wikipedia/commons/8/83/Flag_of_the_United_Kingdom_%283-5%29.svg"
  :idx 0}
 {:xt/id :de
  :id "de"
  :xt/spec :swlkup.model.languages/languages
  :name "Deutsch"
  :flag_url "https://upload.wikimedia.org/wikipedia/commons/b/ba/Flag_of_Germany.svg"
  :idx 1}
 {:xt/id :fr
  :id "fr"
  :xt/spec :swlkup.model.languages/languages
  :name "Français"
  :flag_url "https://upload.wikimedia.org/wikipedia/commons/c/c3/Flag_of_France.svg"
  :idx 2}
 {:xt/id :it
  :id "it"
  :xt/spec :swlkup.model.languages/languages
  :name "Italiano"
  :flag_url "https://upload.wikimedia.org/wikipedia/commons/0/03/Flag_of_Italy.svg"
  :idx 3}
 {:xt/id :es
  :id "es"
  :xt/spec :swlkup.model.languages/languages
  :name "Español"
  :flag_url "https://upload.wikimedia.org/wikipedia/commons/9/9a/Flag_of_Spain.svg"
  :idx 4}
 {:xt/id :tr
  :id "tr"
  :xt/spec :swlkup.model.languages/languages
  :name "Türkçe"
  :flag_url "https://upload.wikimedia.org/wikipedia/commons/b/b4/Flag_of_Turkey.svg"
  :idx 5}
 {:xt/id :ar
  :id "ar"
  :xt/spec :swlkup.model.languages/languages
  :name "العربية"
  :flag_url "https://upload.wikimedia.org/wikipedia/commons/0/0e/Flag_of_the_Arabic_language.svg"
  :idx 6}
 {:xt/id :fa
  :id "fa"
  :xt/spec :swlkup.model.languages/languages
  :name "فارسی"
  :flag_url "https://upload.wikimedia.org/wikipedia/commons/a/a2/Farsi.svg"
  :idx 7}

 {:xt/id "counseling_volunteers"
  :id "counseling_volunteers"
  :xt/spec :swlkup.model.offers/offers
  :target :individual
  :idx 0}
 {:xt/id "counseling_refugees"
  :id "counseling_refugees"
  :xt/spec :swlkup.model.offers/offers
  :target :individual
  :idx 1}
 {:xt/id "crisis_intervention_volunteers"
  :id "crisis_intervention_volunteers"
  :xt/spec :swlkup.model.offers/offers
  :target :individual
  :idx 2}
 {:xt/id "crisis_intervention_refugees"
  :id "crisis_intervention_refugees"
  :xt/spec :swlkup.model.offers/offers
  :target :individual
  :idx 3}
 {:xt/id "briefing_ship"
  :id "briefing_ship"
  :xt/spec :swlkup.model.offers/offers
  :target :group
  :idx 4}
 {:xt/id "briefing_airborne"
  :id "briefing_airborne"
  :xt/spec :swlkup.model.offers/offers
  :target :group
  :idx 5}
 {:xt/id "moderation"
  :id "moderation"
  :xt/spec :swlkup.model.offers/offers
  :target :group
  :idx 6}
 {:xt/id "mediation"
  :id "mediation"
  :xt/spec :swlkup.model.offers/offers
  :target :group
  :idx 7}
 {:xt/id "supervision"
  :id "supervision"
  :xt/spec :swlkup.model.offers/offers
  :target :group
  :idx 8}
 {:xt/id "workshops"
  :id "workshops"
  :xt/spec :swlkup.model.offers/offers
  :target :group
  :idx 9}

 {:xt/id "lifeline"
  :xt/spec :swlkup.model.ngo/doc
  :name "Mission Lifeline"}
 {:xt/id "seawatch"
  :xt/spec :swlkup.model.ngo/doc
  :name "Sea-Watch"}
 {:xt/id "example_ngo"
  :xt/spec :swlkup.model.ngo/doc
  :name "Example NGO"
  :swlkup.model.login/login:ids ["login_crewing_example-ngo"]}

 {:xt/id :T0p53cret
  :xt/spec :swlkup.model.token/doc
  :ngo "seawatch"
  :valid true
  :token "T0p53cret"}
 {:xt/id :R4nd0m
  :xt/spec :swlkup.model.token/doc
  :ngo "lifeline"
  :valid true
  :token "R4nd0m"}
 {:xt/id :InvalidateTest
  :xt/spec :swlkup.model.token/doc
  :ngo "example_ngo"
  :valid true
  :token "InvalidateTest"
  :purpose "It is used in a testcase"}

 {:xt/id "MaxMüller"
  :deactivated false
  :xt/spec :swlkup.model.supervisor/doc
  :swlkup.model.login/login:ids "login_max_mueller"
  :name_full "Max Müller"
  :languages [:de :en]
  :offers #{"counselling_refugees" "crisis_intervention_refugees"}
  :contacts {:phone "0351 1234 5678"
             :email "praxis@max.mueller.de"
             :website "https://max.mueller.de"}
  :location {:city "Leipzig"
             :lat 51.34
             :lon 12.34
             :diameter 10.0}
  :text_specialization "PTSD"
  :text "Irgend etwas über mich ;)"
  :ngos :any}
 {:xt/id "MariaMusterfrau"
  :deactivated false
  :xt/spec :swlkup.model.supervisor/doc
  :swlkup.model.login/login:ids "maria@mm.de"
  :name_full "Maria Musterfrau"
  :languages [:it :es :fr :ar]
  :offers #{"counseling_refugees" "crisis_intervention_refugees"
            "mediation" "moderation" "supervision" "workshops"}
  :contacts {:phone "+49 123 4567 8901"
             :email "maria@mm.de"
             :website "https://mm.de"}
  :location {:country "Italy"
             :lat 42.23
             :lon 13.37
             :diameter 30.0}
  :text_specialization "PTSD"
  :text "Here I should write something about myself, my specialization and my motivation for supporting SAR NGOs…"
  :ngos #{"seawatch" "sosmediterranee"}}

 {:xt/id "login_max_mueller"
  :xt/spec :swlkup.model.login/doc
  :mail "praxis@max.mueller.de"
  :password-hash "100$12$argon2id$v13$hq47jacLIYoiNMD9kdyy+w$ISDi+bSSTmsgqu648LQLv7ySU+lG2VGKRfa06HNfjzk$$$" #_"i!A;z\"'^G3Q)w])%83)" }

 {:xt/id "login_crewing_example-ngo"
  :xt/spec :swlkup.model.login/doc
  :mail "crewing@example-ngo.com"
  :password-hash "100$12$argon2id$v13$lWXab18B+9b79jAk7noAwg$01ak9vbuyxhuKDvBnWV8wuwxIJ5GR6zjz/lJhdw1s+I$$$" #_"Vr(+cFtUG=rsj2:/]*uR" }
]
