{:verbose false

 :port 4000

 :validate-output true

 :db-inmemory false
 :db-dir "./data/xtdb/rocksdb"
 :db-seed ""
 :db-export-prefix "./data/export_"
 :db-validate true

 :upload-dir "./data/upload"  ;; ensure you created it
 :upload-limit-mb 1

 :mail-host ""
 :mail-user ""
 :mail-pass ""
 :mail-port 587
 :mail-from nil

 :frontend-base-url "http://localhost:4000"
 :frontend-backend-base-url "http://localhost:4000"
}
