html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: darkblue;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

fieldset {
  padding-top: 1rem;
  background-color: mintcream;
  border: solid 1px;
}

hr {
  border: inset 1px;
}


form table {
  width: 100%;
}

form td {
  vertical-align: top;
}

form input[type="text"] {
  width: 100%;
}

form textarea {
  width: 100%;
}

.cypress {
  display: none;
}

p.subtitle {
  margin-top: 0px;
}

div.fullwidth {
  width: 100%;
}
