html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


fieldset {
  padding: 15px;
  border: solid 1px lightgray;
}

hr {
  border: solid 0.5px lightgray;
}


form table {
  width: 100%;
}

form td {
  vertical-align: top;
}

form input[type="text"] {
  width: 100%;
}

form textarea {
  width: 100%;
}
